name: build-release-on-main-push

on:
  push:
    branches:
      - main

jobs:
  build-release-on-main-push:
    if: ${{ !contains(github.event.head_commit.message, '[release]') }} # prevent recursive releases
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0
          fetch-tags: true

      - name: setup-jdk
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: maven-build-verify
        run: mvn --batch-mode verify

      - name: configure-git-user
        uses: qoomon/actions--setup-git@v1
        with:
          user: bot

      # For reproducible builds is it required to separate release:prepare (with -DskipStaging=true) and release:perform, otherwise
      # the artifact will be already uploaded during release:prepare

      - name: prepare-release
        run: mvn --batch-mode -P osslabz-release release:prepare -DskipStaging=true
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}

      - name: push-tag
        run: |
          git push origin --tags

      - name: 'get-latest-tag'
        id: 'get-latest-tag'
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: git-checkout-tag
        run: |
          git checkout ${{ steps.get-latest-tag.outputs.tag }}

      - name: perform-release-publish-on-maven-central
        run: mvn --batch-mode -P osslabz-release release:perform -Dtag=${{ steps.get-latest-tag.outputs.tag }}
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}

      - name: create-release-notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: ${{ steps.get-latest-tag.outputs.tag }}

      - name: merge-main-to-dev
        run: |
          git checkout main
          git pull
          git checkout dev
          git pull
          git merge --no-ff main -m "[release] auto-merge released main back to dev"
          git push